<head>
  <meta charset="utf-8">
  <title>UNIV_MEETING_PLACE</title>
  <link rel="stylesheet" href="/css/home/list.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript"></script>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9d8f9201243f52c8d02c32d7b21e488&libraries=services,clusterer,drawing"></script>
  <script src="/js/home/list.js" defer></script>
</head>

<body onload="load();">
  <header>
    <a href="/" id="logo">
      <h1>UNIV_MEETING_PLACE</h1>
    </a>
  </header>
  <%=name%>
  <% if (is_logined) {%>
  | <a href="/logout">logout</a>
  <% } else { %>
  <script>
    alert("로그인 후 이용해 주십시오.");
    location.href = "login";
  </script>
  <a href="/login">login</a>
  <% } %>
  <br><br>
  <div>
    <%=name%>님의 약속 리스트
    <ol id="appointment_list">
    </ol>
  </div>
</body>

</html>