<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>중간지점 추천</title>
  <link rel="stylesheet" href="/css/home/midpoint.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3c8cb66006a235d48fe9fd48b319d1f7&libraries=services,clusterer,drawing"></script>
  <script src="/js/home/midpoint.js" defer></script>
</head>

<body onload="search_mid();">
  <header>
    <a href="/" id="logo"><h1>UNIV_MEETING_PLACE</h1></a>
  </header>
  <%=name%>
  <% if (is_logined) {%>
      | <a href="/logout">logout</a>
  <% } else { %>
      <script>
        alert("로그인 후 이용해 주십시오.");
        location.href="login";
      </script>
      <a href="/login">login</a>
  <% } %>
  <div class="map_wrap">
    <div id="map" style="width:80%;height:150%;position:relative;overflow:hidden;"></div>
    <div id="menu_wrap" class="bg_white">
      <div>
        <a href="javascript:toggle();">주변 지하철역 중심으로 보기</a> |
        <a href="javascript:wide_view();">전체 출발위치 포함해서 보기</a>
        <hr>
        <ul id="subwayList" style="display:none;"></ul>
      </div>
      <div class="option">
        <div>
          <span id="centerAddr"></span>
          <label for="radius"> 주변 </label>
          <select id="radius" name="radius">
            <option value=500 selected>500m</option>
            <option value=1000>1km</option>
            <option value=1500>1.5km</option>
            <option value=2000>2km</option>
          </select>
        </div>
        <div>
          <input type="radio" name="category" id="searchRC" value="RC">
          <label for="searchRC">추천리스트</label>
          <input type="radio" name="category" id="FD" value="FD6" checked>
          <label for="FD">음식점</label>
          <input type="radio" name="category" id="CE" value="CE7">
          <label for="CE">카페</label>
          <input type="radio" name="category" id="SW" value="SW8">
          <label for="SW">지하철역</label>
          <input type="radio" name="category" id="CT" value="CT1">
          <label for="CT">문화시설</label>
        </div>
        <div>
          <button id="goback" onclick="reset();"><img src="/assets/goback.png"></button>
        </div>
      </div>
      <hr>
      <select id="sortby" name="sortby">
        <option value=ACCURACY selected>정확도순</option>
        <option value=DISTANCE>거리순</option>
      </select>
      <select id="nearbyUniv" name="nearbyUniv">
        <option value="<%=univ%>" selected><%=univ%></option>
      </select>
      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>
  </div>
</body>

</html>
