<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디"/>
            <input id="name" type="text" placeholder="닉네임"/>
            <input id="psword" type="password" placeholder="비밀번호"/>
            <input id="confirm-psword" type="password" placeholder="비밀번호 확인"/>
            <input id="email" type="email" placeholder="이메일"/>
            <select id="gender" class="dropdown" required>
              <option disabled selected value>성별</option>
              <option value="M">남성</option>
              <option value="F">여성</option>
            </select>
            <select id="univ" class="dropdown" required>
              <option disabled selected value>대학교 선택</option>
              <option value="한국외국어대학교">한국외국어대학교</option>
              <option>가천대학교</option>
              <option>가톨릭대학교</option>
              <option>감리교신학대학교</option>
              <option>강남대학교</option>
              <option>건국대학교</option>
              <option>경기대학교</option>
              <option>경기과학기술대학교</option>
              <option>경동대학교</option>
              <option>경민대학교</option>
              <option>경복대학교</option>
              <option>경인교육대학교</option>
              <option>경찰대학</option>
              <option>경희대학교</option>
              <option>계원예술대학교</option>
              <option>고려대학교</option>
              <option>공군사관학교</option>
              <option>광운대학교</option>
              <option>국민대학교</option>
              <option>국제대학교</option>
              <option>김포대학교</option>
              <option>농협대학교</option>
              <option>대경대학교</option>
              <option>단국대학교</option>
              <option>대림대학교</option>
              <option>대진대학교</option>
              <option>덕성여대학교</option>
              <option>동국대학교</option>
              <option>동남보건대대학교</option>
              <option>동덕여자대학교</option>
              <option>동서울대학교</option>
              <option>동아방송예술대학교</option>
              <option>동양대학교</option>
              <option>동양미래대학교</option>
              <option>동원대학교</option>
              <option>두원공과대학교</option>
              <option>루터대학교</option>
              <option>명지대학교</option>
              <option>명지전문대학교</option>
              <option>배화여자대학교</option>
              <option>부천대학교</option>
              <option>삼육대학교</option>
              <option>삼육보건대학교</option>
              <option>상명대학교</option>
              <option>서강대학교</option>
              <option>서경대학교</option>
              <option>서정대학교</option>
              <option>서영대학교</option>
              <option>서일대학교</option>
              <option>서울한영대학교</option>
              <option>서울대학교</option>
              <option>서울여자대학교</option>
              <option>서울여자간호대학교</option>
              <option>서울과학기술대학교</option>
              <option>서울기독대학교</option>
              <option>서울교육대학교</option>
              <option>서울시립대학교</option>
              <option>서울신학대학교</option>
              <option>서울예술대학교</option>
              <option>서울장신대학교</option>
              <option>성공회대학교</option>
              <option>성결대학교</option>
              <option>성균관대학교</option>
              <option>성신여대학교</option>
              <option>세종대학교</option>
              <option>수원가톨릭대학교</option>
              <option>수원과학대학교</option>
              <option>수원대학교</option>
              <option>수원여자대학교</option>
              <option>숙명여자대학교</option>
              <option>숭실대학교</option>
              <option>숭의여자대학교</option>
              <option>신경대학교</option>
              <option>신구대학교</option>
              <option>신안산대학교</option>
              <option>신한대학교</option>
              <option>아세아연합신학대학교</option>
              <option>아주대학교</option>
              <option>안산대학교</option>
              <option>안양대학교</option>
              <option>예원예술대학교</option>
              <option>여주대학교</option>
              <option>연세대학교</option>
              <option>연성대학교</option>
              <option>오산대학교</option>
              <option>웅지세무대학교</option>
              <option>용인대학교</option>
              <option>용인송담대학교</option>
              <option>유한대학교</option>
              <option>을지대학교</option>
              <option>이화여자대학교</option>
              <option>인덕대학교</option>
              <option>장로회신학대학교</option>
              <option>장안대학교</option>
              <option>중부대학교</option>
              <option>중앙대학교</option>
              <option>중앙승가대학교</option>
              <option>차의과학대학교</option>
              <option>청강문화산업대학교</option>
              <option>총신대학교</option>
              <option>추계예술대학교</option>
              <option>칼빈대학교</option>
              <option>평택대학교</option>
              <option>한경대학교</option>
              <option>한국성서대학교</option>
              <option>한국교통대학교</option>
              <option>한국항공대학교</option>
              <option>한국산업기술대학교대학교</option>
              <option>한국외국어대학교</option>
              <option>한국폴리텍대학</option>
              <option>한성대학교</option>
              <option>한양대학교</option>
              <option>한양여자대학교</option>
              <option>한신대학교</option>
              <option>한세대학교</option>
              <option>협성대학교</option>
              <option>호서대학교</option>
              <option>홍익대학교</option>
              <option>한국과학기술원</option>
              <option>한국관광대학교</option>
              <option>한국체육대학교</option>
              <option>한국복지대학교</option>
              <option>한국폴리텍대학</option>
              <option>ICT폴리텍대학</option>
              <option>없음</option>
            </select>
            <p id="button">SIGN UP</p>
            <p class="message">Already registered? <a href="/login">login</a></p>
          </form>
        </div>
      </div>
</body>

</html>

<!--Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->