<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UNIV_MEETING_PLACE</title>
  <link rel="stylesheet" href="/css/home/index.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=3c8cb66006a235d48fe9fd48b319d1f7&libraries=services,clusterer,drawing"></script>
  <script src="/js/home/index.js" defer></script>
</head>

<body onload="current_position();">
  <input type="checkbox" id="sidebaricon">
  <header>
    <div>
      <ul class="nav1">
        <li class="logo"><a href="/">UNIV MEETING PLACE</a></li>
      </ul>
      <label for ="sidebaricon" class="sidebarbtn">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </header>

  <div class="sidebarcontainer">
    <div clas="sidecontents">
      <span clss="area_desc">
      </span>
    </div>
    <div class="sidebar">
      <span class="area_desc">
        <p><%=name%></p>
        <p>
          <% if (is_logined) {%> <a href="/logout">logout</a>
          <% } else { %>
            <a href="/login">login</a>
            <% } %>
        </p>
        <p> <a href="/list">약속 확인</a></p>
      </span>
    </div>
  </div>



  <div class="map_wrap">
    <div id="map" ></div>
    <div id="menu_wrap" class="bg_white" style="left:0px;width:300px;height:400px;">
      <div class="option">
        <div>
          <form onsubmit="searchPlaces(); return false;">
            출발 위치 : <input type="text" value="" id="keyword" size="20" />
            <% if (!is_logined) {%>
            <script>
              $("#keyword").click(function() {
                alert("로그인 후 이용해 주십시오.");
                location.href = "login";
              });
            </script>
            <% } %>
            <button type="submit">검색</button><br>
            <input type="button" value="초기화" onclick="reset_all();" />
            <input type="button" value="사용자 추가" onclick="add_user();" />
            <input type="button" value="중간지점 검색" onclick="goPage();" />
          </form>
        </div>
      </div>
      <hr>
      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>
    <div id="user_list">
      <p style="font-family:'고딕체';text-align:center;"> 사용자 출발 위치</p>
      <ul id="userlist"></ul>
    </div>
  </div>
  </div>
  <p id="result"></p>
  <div id="field"></div>
</body>

</html>
